:root {
  background-color: black;
}
div {
  display: inline-block;
  width: 30rem;
  height: 20rem;
  border: 2px gray solid;
  padding: 1rem 1rem 5rem 1rem;
  background-color: black;
  opacity: 70%;
  box-shadow: 10px 10px 25px 10px rgb(128, 128, 128, 0.25);
  z-index: auto;
  transition: 1s;
  filter: grayscale(0.9);
}
div img {
  width: 100%;
  height: 100%;
  border: 2px gray solid;
}
div:hover {
  filter: none;
  opacity: 100%;
  z-index: 1;
  transform: scale(1.1);
}
.placeOne {
  position: absolute;
  top: 8rem;
  left: 10rem;
  transform: rotate(12deg);
}
.placeTwo {
  position: absolute;
  top: 20rem;
  left: 28rem;
  transform: rotate(-8deg);
}
.placeThree {
  position: absolute;
  top: 35rem;
  left: 45rem;
  transform: rotate(8deg);
}
.placeFour {
  position: absolute;
  top: 45rem;
  left: 65rem;
  transform: rotate(-12deg);
}
